mat-grid-list {
  padding: 5px 10px;
  a {
    width: 100%;
    height: 100%;
    // color: inherit !important;

    mat-card {
      margin: 15px 10px;
      height: calc(100% - 20px);

      &:hover,
      &:active,
      &:focus {
        background-color: #ffd740;
      }
    }
  }
}
