<div class="container mt-5">

  <div class="row animate__animated animate__bounce animate__fadeIn">
    <div class="col-md-9" *ngIf="image" >
      <p><strong>Identifier:</strong> {{ image.id }}</p>
      <p><strong>Author:</strong> {{ image.author }}</p>
      <p><strong>Size:</strong> {{ image.width }} - {{ image.height }}</p>
      <p><strong>Url:</strong> {{ image.url }}</p>
      <img src="{{ image.download_url }}" style="width: 80%; height: 80%" alt="" class="rounded">
    </div>

    <div class="col-md-3">
      <a routerLink="/" class="btn btn-danger animate__animated animate__bounce">Back</a>
    </div>
  </div>
</div>